@media(max-width: 1280px) {
    
    body{
        background: repeating-linear-gradient(to bottom right, #252525, #222222 20%, #252525 5%);
    }

    .cabecalho {
        padding: 15px;
        display: box;
    }

    .cabecalho .itens{
        display: block;
    }

    .cabecalho .logo{
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cabecalho .menu{
        height: 80px;
        width: 100%;
        padding-top: 20px;
        align-items: center;
        justify-content: center;
    }

    .cabecalho .menu ul{
        align-items: center;
        justify-content: space-around;
    }

    .home {
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        gap: 30px;
    }

    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .projetos .container-projetos {
        padding: 0 30px;
    }
}

@media(max-width: 425px) {
    .home .informacoes h1 {
        font-size: 30px;
    }

    .home .informacoes p {
        font-size: 16px;
    }

    .home .container-foto img {
        max-width: 320px;
    }

    .projetos {
        padding: 30px;
    }
}